[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "node_modules/node-static"]
	path = node_modules/node-static
	url = https://github.com/cloudhead/node-static.git
