html,body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
button{cursor:pointer;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#006699;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}

#page,#header,#content,#footer{margin-left:auto;margin-right:auto;clear:both;}

.float-left{float:left;}
.float-right{float:right;}
.clear-fixed{clear:both;}
.clear-left{clear:left;}
.clear-right{clear:right;}

.hide{display:none;}
.show{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}

.overflow-hide{overflow:hidden;}
.overflow-auto{overflow:auto;}
.overflow-scroll{overflow:scroll;}
.overflow-x-hide{overflow-x:hidden;}
.overflow-x-auto{overflow-x:auto;}
.overflow-x-scroll{overflow-x:scroll;}
.overflow-y-hide{overflow-y:hidden;}
.overflow-y-auto{overflow-y:auto;}
.overflow-y-scroll{overflow-y:scroll;}

.visible-hide{visibility:hidden;}
.visible-show{visibility:visible;}

.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}

.center{margin-left:auto;margin-right:auto;}
.txt-r{text-align:right;}
.txt-l{text-align:left;}
.txt-c{text-align:center;}


.w960{width:960px;}
.w800{width:800px;}
.w700{width:700px;}
.w650{width:650px;}
.w520{width:520px;}
.w120{width:120px;}
.w150{width:150px;}
.w180{width:180px;}	

.w1610{width:1610px;}
.w960{width:960px;}
.w800{width:800px;}
.w802{width:802px}
.w700{width:700px;}
.w650{width:650px;}
.w520{width:520px;}
.w120{width:120px;}
.w150{width:150px;}
.w180{width:180px;}	